@model Il_Dolce_Chefferini.Dto.ConfecaoDto

@{
    var passo = @Model.confecao.receita.passos.ElementAt(@Model.confecao.passoAtual);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Passo</title>
</head>


<body>
    <div class="justify-content-center row my-4">

        <h1 align="center">Passo @Model.confecao.passoAtual</h1>
    </div>

    <div class="justify-content-center row my-4">
        <img src="/@passo.aspetoEsperado" class="img-responsive">
    </div>

    @if (passo.ingredientes.Count > 0)
    {
        <div class="justify-content-center row my-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ingredientes</h5>
                    @foreach (var r in passo.ingredientes)
                    {
                        <p class="card-text"> @r.quantidade @r.ingrediente.nome (@r.unidade) </p>
                    }
                </div>
            </div>
        </div>
    }

    <div class="justify-content-center row my-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <p class="card-text"> @passo.descricao</p>
            </div>
        </div>
    </div>

    @if (@Model.confecao.passoAtual + 1 != @Model.confecao.receita.GetNumeroDePassos())
    {
        <div class="justify-content-center row my-4">
            <a asp-controller="ConfecaoView" asp-action="Termina" asp-route-confecaoId="@Model.confecao.id">
                <button type="button" class="btn btn-primary btn-lg">Terminar Passo</button>
            </a>
        </div>
    }


    @if (@Model.confecao.passoAtual + 1 == @Model.confecao.receita.GetNumeroDePassos())
    {
        <div class="justify-content-center row my-4">
            <a asp-controller="ConfecaoView" asp-action="Avalia" asp-route-confecaoId="@Model.confecao.id">
                <button type="button" class="btn btn-primary btn-lg">Terminar Passo</button>
            </a>
        </div>
    }


    @if (@passo.urlVideo != null)
    {

        <div class="justify-content-center row my-4">
            <a asp-controller="ConfecaoView" asp-action="Help" asp-route-confecaoId="@Model.confecao.id" asp-route-status="@Model.pre">
                <button type="button" class="btn btn-primary btn-lg">Ajuda</button>
            </a>
        </div>
    }




</body>


</html>




