@model System.Collections.Generic.IEnumerable<Il_Dolce_Chefferini.Models.Receita>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Receitas</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Imagem</th>
        </tr>
        </thead>
        @foreach (var r in Model)
        {
            <tr>
                <td>
                    <a asp-controller="ReceitasView" asp-action="Receita" asp-route-id="@r.id">@r.id</a>
                </td>
                <td>
                    <a asp-controller="ReceitasView" asp-action="Receita" asp-route-id="@r.id">@r.nome</a>
                </td>
                <td>
                    @r.descricao
                </td>
                <td>
                    <img src="@r.imagem" class="img-responsive" alt="@r.nome" height="144px" width="256px"/>
                </td>
            </tr>
        }
    </table>
</div>
<div class="row mx-2 my-2">
    <a asp-controller="UtilizadoresView" asp-action="Index">
        <button type="button" class="btn btn-primary">Voltar</button>
    </a>
</div>
</body>
</html>